{% extends 'content_base.html.twig' %}

{% block title %}OPP FIGHT{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block section_class %}mainPage{% endblock %} 
{% block content_class %}{% endblock %}
{% block content_body %}
<div class="col-sm-12 col-md-10 col-lg-5 mx-auto">
    <div class="card card-signin my-5 p-3 shadow-box">
        Insert a name to create your own Hero or Monster. You will be able to fight against other Characters. This small game is provided to show possibilities to do game with object oriented php programming.
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}