{% extends 'content_base.html.twig' %}

{% block title %}OPP FIGHT{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block section_class %}mainPage{% endblock %} 
{% block content_class %}{% endblock %}
{% block content_body %}
<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5 shadow-box">
        Main page
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}